@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration-style: none;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-color: #F6F4F0;

}

input{
    background-color: #EAEFF2;
    border: 1px solid gray;
    border-radius: 4px;
}

input[type = "text"]:hover{
    border: 2px solid red
}

input[type = "number"]:hover{
    border: 2px solid red
}

textarea:hover{
    border: 2px solid red;

}

textarea{
    background-color: #EAEFF2;
}